#maininput {
    width: 60%;
    border-color: grey;
    border-radius: 25px;
    padding: 10px; 
    height: 40px; 
    padding-left: 20px;
    padding-right: 20px;
}
#maininput:focus {
    outline: none;
}
input[type=submit], .yesandno {
    outline: none;
    border-color: grey;
    background-color: white;
    border-radius: 25px;
    padding: 9px; 
    height: fit-content; 
    padding-left: 20px;
    border-style: solid;
    padding-right: 20px;
    text-align: center;
    cursor: pointer;
}
.fullScreen {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.response {
    border-radius: 25px;
    background: rgb(134, 134, 134);
    color: white;
    padding: 10px; 
    width: fit-content;
    height: fit-content; 
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    max-width: 100%;
}
#responsecontainer {
    display: flex;
}
#container {
    margin-top: 40px;
    width: 100%;
}
table {
    overflow-y:scroll;
    height:100px;
    width: 100%;
}

tr {
    width: 100%;
}
#askcontainer {
    float: right;
    display: flex;
}
.askcontainer {
    float: right;
    display: flex;
}
.responsecontainer {
    display: flex;
}
.ask {
    border-radius: 25px;
    background: #88b943;
    color: white;
    padding: 10px; 
    width: fit-content;
    height: fit-content; 
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}  
#master {
    height: 100%;
    width: 100%;
    position: absolute;
    bottom: 0;
    border: 5px solid transparent;
    display: flex;
    flex-direction: column;
}
#slave {
    margin-top: auto;
}
body {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
.animate__animated.animate__backInUp {
    --animate-duration: 0.5s;
  }
.profile {
    width: 40px;
    height: 40px;
}
iframe {
    width: 500px;
    height: 400px;
    border: none;
    outline: none;
}
.link {
    cursor: pointer;
}